
.container {
  display: flex;
  justify-content: center;
  background-color: #d1dee8;
  font-family: 'Roboto', sans-serif;
 }

 .box{
  margin: 10px;
 }

 h1, .image{
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
 }

.btn {
  background-color: #35a47f;
  color: #fff;
  border: none;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

.show{
  border: none;
  background-color: #d1dee8;
  color: #35a47f;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
